

<!-- first part of navbar  starts-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <div class="container-img">
    <a class="navbar-brand" href="#"><img src="assets/logo-dark.png" class="navbar-brand" alt=""></a>
</div>

    <div class="rightside-content">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn  dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >Quick Info
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Product</a></li>
          <li><a class="dropdown-item" href="#">Purchase Order</a></li>
          <li><a class="dropdown-item" href="#">Sales Order</a></li>
          <li><a class="dropdown-item" href="#">Inventory Register</a></li>
          <li><a class="dropdown-item" href="#">View Batches</a></li>
          <li><a class="dropdown-item" href="#">Customer</a></li>
          <li><a class="dropdown-item" href="#">Customers</a></li>
          <li><a class="dropdown-item" href="#">Supplier</a></li>
          <li><a class="dropdown-item" href="#">Suppliers</a></li>
          <li><a class="dropdown-item" href="#">Sales Ledger</a></li>
        </ul>
      </div>
      &nbsp;&nbsp;

      <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn  dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          + Create
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Sale Order</a></li>
          <li><a class="dropdown-item" href="#">Credit Notes</a></li>
          <li><a class="dropdown-item" href="#">Pro Forma</a></li>
          <li><a class="dropdown-item" href="#">Return Notes</a></li>
          <li><a class="dropdown-item" href="#">Purchase Order</a></li>
          <li><a class="dropdown-item" href="#">Stock Adjustments</a></li>
          <li><a class="dropdown-item" href="#">Goodsln</a></li>
        </ul>
      </div>
    </div>

    <div class="right-div">
     <div class="user-img">
     <img src="assets/devendra.png" alt="Devendra">


    </div>
            <div class="user">
                <span>Devendra Rathore</span>
                <span style="color: rgba(19, 18, 18, 0.5);">Founder</span>
                </div>
    
 </div>
  </div>

  </div>

</nav>
<!-- first part of navbar ends -->
<hr style="margin-top: -1px; margin-bottom: 10px;">

<!-- second part of navbar  starts-->


<div class="container">
    <ul class="navbarlist" > 

 <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2"
          (click)="setActive('sales')"
             [ngClass]="activeBtn === 'sales' ? 'active-btn' : ''"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        > <a routerLink="/sales" style="text-decoration: none; color: inherit;"> <i class="mdi mdi-speedometer"  style="font-size: 18px; margin-right: 4px;" ></i>
          
           Sales
          <span  class="navitems" style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs" routerLink="/sales"></i></span>
          </a>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" routerLink="/sales" >Sales Order</a></li>
          <li><a class="dropdown-item" routerLink="/credit-notes" >Credit Notes</a></li>
          <li><a class="dropdown-item" routerLink="/proforma">Pro forma</a></li>
          <li><a class="dropdown-item" routerLink="/uplift-notes">Uplift Notes</a></li>
          <li><a class="dropdown-item" routerLink="/return-notes">Return Notes</a></li>
          <li><a class="dropdown-item" routerLink="/sales-notes">Sale Notes</a></li>
          <li><a class="dropdown-item" routerLink="/sale-invoicesr">Sale Invoicesr</a></li>
         
          
        </ul>
      </div>

       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
           (click)="setActive('purchase')"
           [ngClass]="activeBtn === 'purchase' ? 'active-btn' : ''"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <a routerLink="/purchase" style="text-decoration: none; color: inherit;">
          <i class="mdi mdi-speedometer" style="font-size: 18px;  margin-right: 4px;"></i>
          Purchase
           <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
       </a>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" routerLink="/purchase">Purchase Order</a></li>
        
         
          
        </ul>
      </div>

       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
               (click)="setActive('Products')"
           [ngClass]="activeBtn === 'Products' ? 'active-btn' : ''"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        <a routerLink="/products" style="text-decoration: none; color: inherit;">
        <span class="mdi mdi-view-carousel-outline" style="font-size: 18px;  margin-right: 4px;"></span>
        Products/Inventory
         <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs" ></i> </span>
         </a>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" routerLink="/products">Products</a></li>
          <li><a class="dropdown-item" routerLink="/goods-in">Groups</a></li>
          <li><a class="dropdown-item" routerLink="/groups">Stock Adjustments</a></li>
          <li><a class="dropdown-item" routerLink="/stock">Goods ln</a></li>

        </ul>
      </div>

       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
               (click)="setActive('Customers')"
           [ngClass]="activeBtn === 'Customers' ? 'active-btn' : ''"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
         <a routerLink="/customers" style="text-decoration: none; color: inherit;">
        <span class="mdi mdi-view-carousel-outline" style="font-size: 18px;  margin-right: 4px;"></span>
        Customers
         <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
       </a>
      </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" routerLink="/customers">Customers</a></li>

        </ul>
      </div>


       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
            (click)="setActive('Suppliers')"
           [ngClass]="activeBtn === 'Suppliers' ? 'active-btn' : ''"
          data-bs-toggle="dropdown"
          aria-expanded="false" >
           <a routerLink="/suppliers" style="text-decoration: none; color: inherit;">
          <span class="mdi mdi-view-carousel-outline" style="font-size: 18px; margin-right: 4px;"></span>
        Suppliers <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
        </a>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" routerLink="/suppliers">Suppliers</a></li>

        </ul>
      </div>


       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
                 (click)="setActive('Reports')"
           [ngClass]="activeBtn === 'Reports' ? 'active-btn' : ''"
          data-bs-toggle="dropdown"
          aria-expanded="false">
           <a routerLink="/reports" style="text-decoration: none; color: inherit;">
          <span class="mdi mdi-view-carousel-outline" style="font-size: 18px; margin-right: 4px;"></span>
          Reports
           <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
           </a>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" routerLink="/reports">Inventory Register</a></li>
          <li><a class="dropdown-item" routerLink="/sales-ledger">Sales Ledger</a></li>

         
          
        </ul>
      </div>


       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
                 (click)="setActive('Users')"
           [ngClass]="activeBtn === 'Users' ? 'active-btn' : ''"
          data-bs-toggle="dropdown"
          aria-expanded="false">
           <a routerLink="/users" style="text-decoration: none; color: inherit;">
          <span class="mdi mdi-view-carousel-outline" style="font-size: 18px;  margin-right: 4px;"></span>
          Users
           <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
           </a>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" routerLink="/users">Users</a></li>
          
        </ul>
      </div>


      

    </ul>
</div>
<!-- second part of navbar  ends-->



