

<!-- first part of navbar  starts-->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">

    <div class="container-img">
    <a class="navbar-brand" href="#"><img src="assets/logo-dark.png" class="navbar-brand" alt=""></a>
</div>

    <div class="rightside-content">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn  dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >Quick Info
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Product</a></li>
          <li><a class="dropdown-item" href="#">Purchase Order</a></li>
          <li><a class="dropdown-item" href="#">Sales Order</a></li>
          <li><a class="dropdown-item" href="#">Inventory Register</a></li>
          <li><a class="dropdown-item" href="#">View Batches</a></li>
          <li><a class="dropdown-item" href="#">Customer</a></li>
          <li><a class="dropdown-item" href="#">Customers</a></li>
          <li><a class="dropdown-item" href="#">Supplier</a></li>
          <li><a class="dropdown-item" href="#">Suppliers</a></li>
          <li><a class="dropdown-item" href="#">Sales Ledger</a></li>
        </ul>
      </div>
      &nbsp;&nbsp;

      <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn  dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          + Create
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Sale Order</a></li>
          <li><a class="dropdown-item" href="#">Credit Notes</a></li>
          <li><a class="dropdown-item" href="#">Pro Forma</a></li>
          <li><a class="dropdown-item" href="#">Return Notes</a></li>
          <li><a class="dropdown-item" href="#">Purchase Order</a></li>
          <li><a class="dropdown-item" href="#">Stock Adjustments</a></li>
          <li><a class="dropdown-item" href="#">Goodsln</a></li>
        </ul>
      </div>
    </div>

    <div class="right-div">
     <div class="user-img">
     <img src="assets/devendra.png" alt="Devendra">


    </div>
            <div class="user">
                <span>Devendra Rathore</span>
                <span style="color: rgba(19, 18, 18, 0.5);">Founder</span>
                </div>
    
 </div>
  </div>

  </div>

</nav>
<!-- first part of navbar ends -->
<hr style="margin-top: -1px; margin-bottom: 10px;">

<!-- second part of navbar  starts-->


<div class="container">
    <ul class="navbarlist" > 

 <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
          data-bs-toggle="dropdown"
          aria-expanded="false"
        > <i class="mdi mdi-speedometer" style="font-size: 18px; color: #6c757d; margin-right: 4px;"></i>

           Sales
          <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i></span>

        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Sales Order</a></li>
          <li><a class="dropdown-item" href="#">Credit Notes</a></li>
          <li><a class="dropdown-item" href="#">Pro forma</a></li>
          <li><a class="dropdown-item" href="#">Uplift Notes</a></li>
          <li><a class="dropdown-item" href="#">Return Notes</a></li>
          <li><a class="dropdown-item" href="#">Sale Notes</a></li>
          <li><a class="dropdown-item" href="#">Sale Invoicesr</a></li>
         
          
        </ul>
      </div>

       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="mdi mdi-speedometer" style="font-size: 18px; color: #6c757d; margin-right: 4px;"></i>
          Purchase
           <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Purchase Order</a></li>
        
         
          
        </ul>
      </div>

       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
        <span class="mdi mdi-view-carousel-outline" style="font-size: 18px; color: #6c757d; margin-right: 4px;"></span>
        Products/Inventory
         <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs" ></i> </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Products</a></li>
          <li><a class="dropdown-item" href="#">Groups</a></li>
          <li><a class="dropdown-item" href="#">Stock Adjustments</a></li>
          <li><a class="dropdown-item" href="#">Goods ln</a></li>

        </ul>
      </div>

       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ><span class="mdi mdi-view-carousel-outline" style="font-size: 18px; color: #6c757d; margin-right: 4px;"></span>
        Customers
         <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Customers</a></li>

        </ul>
      </div>


       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
          data-bs-toggle="dropdown"
          aria-expanded="false" >
          <span class="mdi mdi-view-carousel-outline" style="font-size: 18px; color: #6c757d; margin-right: 4px;"></span>
        Suppliers <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Suppliers</a></li>

        </ul>
      </div>


       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="mdi mdi-view-carousel-outline" style="font-size: 18px; color: #6c757d; margin-right: 4px;"></span>
          Reports
           <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Inventory Register</a></li>
          <li><a class="dropdown-item" href="#">Sales Ledger</a></li>

         
          
        </ul>
      </div>


       <div class="btn-group" role="group">
        <button
          id="btnGroupDrop1"
          type="button"
          class=" btn2 "
          data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="mdi mdi-view-carousel-outline" style="font-size: 18px; color: #6c757d; margin-right: 4px;"></span>
          Users
           <span style="margin-left: 4px;"><i class="fa-solid fa-chevron-down fa-2xs"></i> </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">Users</a></li>
          
        </ul>
      </div>


      

    </ul>
</div>
<!-- second part of navbar  ends-->



