.container-fluid{
background-color: #e5ecf2;
height: 100%;
width: 100%;

} 

.mini-details{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
margin: 0 -31rem;
background-color: transparent;
}

.mini-details h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
      font-size: .9em;
      margin-left: 3rem;

}

.mini-details p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: .9rem;
    margin-right: 3rem;
}

.create-btn{
 background-color: #13c56b;
    color:#fff;
  position: fixed;                
  bottom: 2rem;                   
  right: 5rem;  
    padding: 0.7rem 1.2rem;
  font-size: 1.4rem;
  border-radius: 2rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
 z-index: 1;

}

.create-btn:hover{
    background-color: #10a75b;
}

.container{
background-color: #fff;
border-radius: 4px;
padding-top: 1rem;

}

.btns-div{
    padding-bottom: .8rem;

}

.btn{
    background-color:#6691E7;
    color: #fff;
    box-shadow: none;
    height: 1.8rem;

}


.btn:hover{
    background-color: #577bc4;
}

.recordsearch{
   display: flex;
 flex-direction: row; 

}

.selectrecord{
 margin-top: 1rem;
margin-bottom: 1rem;
 width: 17.5%;
}


.custom-search {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
  left: 15px;
}

.custom-search .search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 14px;

}

.custom-search .form-control {
  padding-left: 2rem;
  height: 2rem;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: none;
  color: #6c757d;
  margin-top: 15px;
}

#cus-email-input{
    width: 18rem;
}

.form-control{
  font-size: small;
}

 
.selectrecord2{
 margin-top: 1rem;
margin-bottom: 1rem;
 width: 17.5%;
 margin-left: .6rem;
 color:#6c757d;
}

.form-select2{ color:#6c757d;}

.form-option{
    color: #6c757d;
}


.btn-droplist{
    padding-left: .8rem;
    padding-bottom: 1.5rem;
    padding-top: .25rem;
    font-size: small;
    margin-top: 1rem;
    margin-left: 6rem;
}



table {
  width: 100%;
  background-color: #fff;
  margin-top: -1rem;
}


.pagination-nav{
display: flex;
flex-direction: row-reverse;
margin-top: 2rem;
margin-right: .2rem;
}
.page-item{
margin: 0 4px;
border-radius: 50%;
}

.tableheading{
  color:#6c757d;
  font-weight: 500;
}

