<app-header></app-header>

<div class="container-fluid">
      <div class="mini-details">
        <h4>CUSTOMERS</h4>
        <P>customers</P>
    </div>
 
    
    
<div class="container">
    <div class="btns-div">
        <button type="button" class="btn btn btn-sm">Last 12th Months</button>&nbsp;
        <button type="button" class="btn btn btn-sm">Add Delivery Address</button>&nbsp;
        <button type="button" class="btn btn btn-sm"> View Delivery Address </button>&nbsp;
        <button type="button" class="btn btn btn-sm"> Add Sales Order</button>&nbsp;
        <button type="button" class="btn btn btn-sm">Add Credit Notes</button>&nbsp;
        <button type="button" class="btn btn btn-sm">Add Pro Forma</button>&nbsp;
        <button type="button" class="btn btn btn-sm">Add Return Note</button>&nbsp;
        <button type="button" class="btn btn btn-sm">View Sales Order</button>&nbsp;
        
    </div>
    

<div class="recordsearch">

    <div class="selectrecord">

<select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Choose Type</option>
  <option value="1">Company</option>
  <option value="2">Email</option>
  <option value="3">Mobile</option>
</select>
</div>



<div class="custom-search">
  <i class="fa fa-search search-icon"></i>
  <input type="text" class="form-control" id="cus-email-input" placeholder="Search for customer, email, status or something...">
</div>

<div class="btn-group">
  <button class="btn btn-droplist btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Create  <!--<i class="fa-duotone fa-solid fa-angle-down fa-xs"></i>--> 
  </button>
  <ul class="dropdown-menu">
   <li><a class="dropdown-item" href="#">Completed</a></li>
      <li><a class="dropdown-item" href="#">All</a></li>
  </ul>
</div>


</div>

<hr style="border-top: 1px dashed ;">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th class="tableheading" mat-header-cell *matHeaderCellDef>
      ID <i class="fa-solid fa-sort fa-2xs" style="margin-left: 4px"></i>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Company Column -->
  <ng-container matColumnDef="company">
    <th class="tableheading" mat-header-cell *matHeaderCellDef>
      COMPANY <i class="fa-solid fa-sort fa-2xs" style="margin-left: 4px"></i>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.company}} </td>
  </ng-container>

  <!-- Mobile Column -->
  <ng-container matColumnDef="mobile">
    <th class="tableheading" mat-header-cell *matHeaderCellDef>
      MOBILE <i class="fa-solid fa-sort fa-2xs" style="margin-left: 4px"></i>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th class="tableheading" mat-header-cell *matHeaderCellDef>
      EMAIL <i class="fa-solid fa-sort fa-2xs" style="margin-left: 4px"></i>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Country Column -->
  <ng-container matColumnDef="country">
    <th class="tableheading" mat-header-cell *matHeaderCellDef>
      COUNTRY <i class="fa-solid fa-sort fa-2xs" style="margin-left: 4px"></i>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- Delivery Column -->
  <ng-container matColumnDef="delivery">
    <th class="tableheading" mat-header-cell *matHeaderCellDef>
      DELIVERY <i class="fa-solid fa-sort fa-2xs" style="margin-left: 4px"></i>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.delivery}} </td>
  </ng-container>

  <!-- Contact Column -->
  <ng-container matColumnDef="contact">
    <th class="tableheading" mat-header-cell *matHeaderCellDef>
      CONTACT <i class="fa-solid fa-sort fa-2xs" style="margin-left: 4px"></i>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th class="tableheading" mat-header-cell *matHeaderCellDef> ACTION </th>
    <td mat-cell *matCellDef="let element">
      <i class="fa-solid fa-eye fa-xs" style="color: #343a40ae; margin-right: 8px;" title="View"></i>
      <i class="fa-solid fa-pen fa-xs" style="color: #343a40ae; margin-right: 8px;" title="Edit"></i>
      <i class="fa-solid fa-trash fa-xs" style="color: #343a40ae;" title="Delete"></i>
    </td>
  </ng-container>

  <!-- Table Rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>


<nav class="pagination-nav" aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link"  style=" border-radius: 4px;" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li> 
    <li class="page-item">
      <a class="page-link" style=" border-radius: 4px; color: #6691E7;" href="#">1</a></li>

    <li class="page-item"  aria-current="page">
      <a class="page-link" style="  border-radius: 4px; background-color:#6691E7; color: #fff;" href="#">2</a>
    </li>

    <li class="page-item">
      <a class="page-link" style=" border-radius: 4px; color: #6691E7;" href="#">Next</a>
    </li>
  </ul>
</nav>


</div>


   <div _ngcontent-ng-c2943607532="" 
    routerlink=""
     class="create-btn btn-rounded shadow-lg  btn-icon btn-lg p-2" tabindex="0">
     <i class="fa-solid fa-plus"></i></div>





</div>




