
.container-fluid {
  background-color: #e5ecf2;
  min-height: 100vh;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 4px;
  padding: 1rem;
  padding-top: 6rem;
  margin-bottom: 2rem;
}

.mini-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 -34rem;
  background-color: transparent;
}

.mini-details h4{
    margin-left: 18rem;
    font-size: 0.9rem;
}
.mini-details p {
  margin: 1rem 18rem;
  font-size: 0.9rem;

}

.container h6 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: large;
  color: #495057;

}

.navbtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 0;
  margin: 0;
}


.btnlist {
  list-style: none;
  margin-top: -1.2rem;
}

.step-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #f4f3f3c7;
  color: #577bc4;
  transition: all 0.3s ease;
  cursor: pointer;
}

.step-btn:hover,
.step-btn.active {
  background-color: #577bc4;
  color: white;
}

.greets{
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 4rem;
}

h4{
    color: #495057;
}